*{ 
	padding: 0;
	margin: 0;
	/*tar bort mällanrum mellan nav-bar och skärmkanten*/
}
body { 
	background-image: url("https://images.wallpaperscraft.com/image/molecules_atoms_chemistry_compound_113605_3840x2160.jpg"); /*Lägger bakgrundsbild på hela sida*/
}
nav{
	height:50px; /*Bestämmer höjden på globala menyn*/
}
nav ul{
	display:flex; /*sätter lista till flex-läge*/
	width:100%;/*sätter full bredd listan*/
	height:100%;/*bestämmer höjd på listan*/
}
nav li {
	display: flex; 
	justify-content: space-around; /*Gör förhållandet mellan länkarna lika stora*/
	text-decoration: none;/*Tar bort sträcken under länkarna*/
	list-style-type: none;/*Tar bort list märket*/
	background-color: #333333;/*Sätter bakgrunds färgen på listan*/
	width: 33.33333333333%;
	height: 100%;
}
nav a{
	text-decoration: none;
	display:inline-block;/*Den gör den relativ till margin och padding*/
	width:100%;
	height:100%;
	text-align: center;/*Centrerar texten*/
	line-height:3em;/*sätter höjden på lådorna i nav listan*/
	text-transform: uppercase;/*gör text till stora bokstäver*/
	font-family: calibri;/*Sätter textstilen*/
	font-weight: bold;/*Gör tjock text*/
	color: #aaa;/*text färg*/	
}
nav a:hover{
	color:#333333;
	background-color: #aaa;
	width:100%;
}
.active{
	background-color: #aaa;
	color: #333333;
}
.active2{ /*klass som används för att visa vilket sida man är på just nu*/
	background-color: white; /*sätter bakgrundsfärgen*/
	color: black; /*textfärgen blir svart*/
}
h1 { /*sidotitel*/
	text-align:center; /*sentrerar text*/
	background-color: white;
    margin-right: 500px; /*höjer storleken på sidotitlen till höger om text*/
    margin-left: 500px; /*höjer storleken på sidotitlen till vänster om text*/
	margin-top: 10px; /*höjer storleken på sidotitlen över text*/
	margin-bottom: 10px; /*höjer storleken på sidotitlen under text*/
    border-radius: 25px; /*rundar kanterna*/
    background: #333333;
    padding: 20px; /*skapar mellanrum mellan text och resten av h1*/
    width: auto; /*bredd*/
    height: auto; /*höjd*/
	color: #aaa; /*textfärg*/
}
pre {/*text*/
	text-align:center; 
	background-color: white;
    	margin-right: 20em;
    	margin-left: 20em;
    	padding: 25px; 
	border-style: solid;/*Bestämmer att kanterna runt text ska vara hela sträck*/
   	border-color: #333333;
    	border-width: 10px;
	font-size: 20px;
	margin-bottom: 20px;
}
.klubbstugan {/*klass som andvänds till bild*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	
}
table{/*tabellen*/
	background-color: white;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;/*sätter ihop de olika delarna av tabellen*/
}
table, th, td{
	border: 2px solid black; /*färg och storlek på ramen runt tabellen*/
}
th, td{
	padding: 15px;
}


tbody tr:nth-child(even){/*Bestämmer för jämna rader*/
	background-color: lightgray;
	
}

table tr > td:nth-child(3) > img{/*berör bilderna på tredje kolumnen i tabellen*/
	width:100px;
	border-radius:50%;/*rundar hörnen på bilderna*/
	padding: 2px;
	
}	

table tr > td:nth-child(4) > img{/*berör bilderna i fjädre kolumnen i tabellen*/
	width: 230px;
	padding: 0ch;
	margin: 0rem;

}

table tr > td:nth-child(4){/*Berör fjädre kolumnen*/
	padding: 0vw;	
	border-bottom: none;
	
	
}
thead{
    background-color:gray;/*ändrar färg på övre delen av tabellen*/
}

