*{
	padding: 0;
	margin: 0;
	
}

body {
	background-image: url("https://images.wallpaperscraft.com/image/molecules_atoms_chemistry_compound_113605_3840x2160.jpg");
}


p {
	text-align:center; 
	background-color: white;
}

h1 {
	text-align:center;
	background-color: white;
	
}
nav{
	height:50px;
}
nav ul{
	display:flex;
	width:100%;
	height:100%;
}

nav li {
	display: flex;
	justify-content: space-around;
	text-decoration: none;
	list-style-type: none;
	background-color: #333333;
	
	width: 33.33333333333%;
	height: 100%;
	}
	
nav a{
	text-decoration: none;
	display:inline-block;
	width:100%;
	height:100%;
	text-align: center;
	line-height:3em;
	text-transform: uppercase;
	font-family: calibri;
	font-weight: bold;
	color: #aaa;
	
}

nav a:hover{
	color:#333333;
	background-color: #aaa;
	width:100%;
}

nav a:visited{
	color:none;
}
